@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Serif:400,400italic,700,700italic);
/* line 3, sass/_flex.scss */
.display-flex { display: -ms-flexbox; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-flex; display: flex; }
/* line 8, sass/_flex.scss */
.display-flex.align-content[data-align="center"] { -moz-align-content: center; -ms-align-content: center; -o-align-content: center; -webkit-align-content: center; align-content: center; }
/* line 11, sass/_flex.scss */
.display-flex.align-content[data-align="flex-start"] { -moz-align-content: flex-start; -ms-align-content: flex-start; -o-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }
/* line 14, sass/_flex.scss */
.display-flex.align-content[data-align="flex-end"] { -moz-align-content: flex-end; -ms-align-content: flex-end; -o-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }
/* line 17, sass/_flex.scss */
.display-flex.align-content[data-align="space-around"] { -moz-align-content: space-around; -ms-align-content: space-around; -o-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }
/* line 20, sass/_flex.scss */
.display-flex.align-content[data-align="space-between"] { -moz-align-content: space-between; -ms-align-content: space-between; -o-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }
/* line 23, sass/_flex.scss */
.display-flex.align-content[data-align="stretch"] { -moz-align-content: stretch; -ms-align-content: stretch; -o-align-content: stretch; -webkit-align-content: stretch; align-content: stretch; }
/* line 28, sass/_flex.scss */
.display-flex.align-items[data-items="baseline"] { -ms-flex-align: baseline; -moz-align-items: baseline; -ms-align-items: baseline; -o-align-items: baseline; -webkit-align-items: baseline; align-items: baseline; }
/* line 32, sass/_flex.scss */
.display-flex.align-items[data-items="center"] { -ms-flex-align: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; -webkit-align-items: center; align-items: center; }
/* line 36, sass/_flex.scss */
.display-flex.align-items[data-items="flex-start"] { -ms-flex-align: start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; -webkit-align-items: flex-start; align-items: flex-start; }
/* line 40, sass/_flex.scss */
.display-flex.align-items[data-items="flex-end"] { -ms-flex-align: end; -moz-align-items: flex-end; -ms-align-items: flex-end; -o-align-items: flex-end; -webkit-align-items: flex-end; align-items: flex-end; }
/* line 44, sass/_flex.scss */
.display-flex.align-items[data-items="stretch"] { -ms-flex-align: stretch; -moz-align-items: stretch; -ms-align-items: stretch; -o-align-items: stretch; -webkit-align-items: stretch; align-items: stretch; }
/* line 51, sass/_flex.scss */
.display-flex.flex-direction[data-direction="row"] { -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }
/* line 54, sass/_flex.scss */
.display-flex.flex-direction[data-direction="row-reverse"] { -moz-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -o-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }
/* line 57, sass/_flex.scss */
.display-flex.flex-direction[data-direction="column"] { -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
/* line 60, sass/_flex.scss */
.display-flex.flex-direction[data-direction="column-reverse"] { -moz-flex-direction: column-reverse; -ms-flex-direction: column-reverse; -o-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }
/* line 66, sass/_flex.scss */
.display-flex.flex-wrap[data-wrap="nowrap"] { -moz-flex-wrap: nowrap; -ms-flex-wrap: nowrap; -o-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }
/* line 69, sass/_flex.scss */
.display-flex.flex-wrap[data-wrap="wrap"] { -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
/* line 72, sass/_flex.scss */
.display-flex.flex-wrap[data-wrap="wrap-reverse"] { -moz-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; -o-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
/* line 78, sass/_flex.scss */
.display-flex.justify-content[data-content="center"] { -ms-flex-pack: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; -webkit-justify-content: center; justify-content: center; }
/* line 82, sass/_flex.scss */
.display-flex.justify-content[data-content="flex-start"] { -ms-flex-pack: start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; -webkit-justify-content: flex-start; justify-content: flex-start; }
/* line 86, sass/_flex.scss */
.display-flex.justify-content[data-content="flex-end"] { -ms-flex-pack: end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; -webkit-justify-content: flex-end; justify-content: flex-end; }
/* line 90, sass/_flex.scss */
.display-flex.justify-content[data-content="space-around"] { -ms-flex-pack: justify; -moz-justify-content: space-around; -ms-justify-content: space-around; -o-justify-content: space-around; -webkit-justify-content: space-around; justify-content: space-around; }
/* line 94, sass/_flex.scss */
.display-flex.justify-content[data-content="space-between"] { -ms-flex-pack: justify; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; -webkit-justify-content: space-between; justify-content: space-between; }
/* line 102, sass/_flex.scss */
.display-flex .align-self[data-self="auto"] { -moz-align-self: auto; -ms-align-self: auto; -o-align-self: auto; -webkit-align-self: auto; align-self: auto; }
/* line 105, sass/_flex.scss */
.display-flex .align-self[data-self="baseline"] { -moz-align-self: baseline; -ms-align-self: baseline; -o-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }
/* line 108, sass/_flex.scss */
.display-flex .align-self[data-self="center"] { -moz-align-self: center; -ms-align-self: center; -o-align-self: center; -webkit-align-self: center; align-self: center; }
/* line 111, sass/_flex.scss */
.display-flex .align-self[data-self="flex-start"] { -moz-align-self: flex-start; -ms-align-self: flex-start; -o-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }
/* line 114, sass/_flex.scss */
.display-flex .align-self[data-self="flex-end"] { -moz-align-self: flex-end; -ms-align-self: flex-end; -o-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }
/* line 117, sass/_flex.scss */
.display-flex .align-self[data-self="streatch"] { -moz-align-self: streatch; -ms-align-self: streatch; -o-align-self: streatch; -webkit-align-self: streatch; align-self: streatch; }
/* line 124, sass/_flex.scss */
.display-flex .grow1 { -moz-flex-grow: 1; -ms-flex-grow: 1; -o-flex-grow: 1; -webkit-flex-grow: 1; flex-grow: 1; }
/* line 124, sass/_flex.scss */
.display-flex .grow2 { -moz-flex-grow: 2; -ms-flex-grow: 2; -o-flex-grow: 2; -webkit-flex-grow: 2; flex-grow: 2; }
/* line 124, sass/_flex.scss */
.display-flex .grow3 { -moz-flex-grow: 3; -ms-flex-grow: 3; -o-flex-grow: 3; -webkit-flex-grow: 3; flex-grow: 3; }
/* line 124, sass/_flex.scss */
.display-flex .grow4 { -moz-flex-grow: 4; -ms-flex-grow: 4; -o-flex-grow: 4; -webkit-flex-grow: 4; flex-grow: 4; }
/* line 124, sass/_flex.scss */
.display-flex .grow5 { -moz-flex-grow: 5; -ms-flex-grow: 5; -o-flex-grow: 5; -webkit-flex-grow: 5; flex-grow: 5; }
/* line 131, sass/_flex.scss */
.display-flex .order-5 { -moz-order: -5; -ms-order: -5; -o-order: -5; -webkit-order: -5; order: -5; }
/* line 131, sass/_flex.scss */
.display-flex .order-4 { -moz-order: -4; -ms-order: -4; -o-order: -4; -webkit-order: -4; order: -4; }
/* line 131, sass/_flex.scss */
.display-flex .order-3 { -moz-order: -3; -ms-order: -3; -o-order: -3; -webkit-order: -3; order: -3; }
/* line 131, sass/_flex.scss */
.display-flex .order-2 { -moz-order: -2; -ms-order: -2; -o-order: -2; -webkit-order: -2; order: -2; }
/* line 131, sass/_flex.scss */
.display-flex .order-1 { -moz-order: -1; -ms-order: -1; -o-order: -1; -webkit-order: -1; order: -1; }
/* line 131, sass/_flex.scss */
.display-flex .order0 { -moz-order: 0; -ms-order: 0; -o-order: 0; -webkit-order: 0; order: 0; }
/* line 131, sass/_flex.scss */
.display-flex .order1 { -moz-order: 1; -ms-order: 1; -o-order: 1; -webkit-order: 1; order: 1; }
/* line 131, sass/_flex.scss */
.display-flex .order2 { -moz-order: 2; -ms-order: 2; -o-order: 2; -webkit-order: 2; order: 2; }
/* line 131, sass/_flex.scss */
.display-flex .order3 { -moz-order: 3; -ms-order: 3; -o-order: 3; -webkit-order: 3; order: 3; }
/* line 131, sass/_flex.scss */
.display-flex .order4 { -moz-order: 4; -ms-order: 4; -o-order: 4; -webkit-order: 4; order: 4; }
/* line 131, sass/_flex.scss */
.display-flex .order5 { -moz-order: 5; -ms-order: 5; -o-order: 5; -webkit-order: 5; order: 5; }

/* == Browser Fixes ========================================== */
/* line 10, sass/style.scss */
body, html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; margin: 0; padding: 0; }

/* line 18, sass/style.scss */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 22, sass/style.scss */
img { max-width: 100%; -ms-interpolation-mode: bicubic; }

/* line 27, sass/style.scss */
input { border: 1px solid #aaa; padding: 1%; outline: none; margin: 0 0 1% 0; height: 1%; }

/* line 35, sass/style.scss */
.centered { max-width: 1200px; margin: 0 auto; padding: 25px 0; }
@media screen and (max-width: 1300px) { /* line 35, sass/style.scss */
  .centered { padding-left: 50px; padding-right: 50px; } }

/* line 46, sass/style.scss */
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

/* == Links ================================================== */
/* line 58, sass/style.scss */
a { cursor: pointer; font-weight: 600; text-decoration: none; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

/* == Buttons ================================================ */
/* line 67, sass/style.scss */
.button { background-color: #fff; border: 2px solid #49c0b6; color: #49c0b6; cursor: pointer; display: inline-block; font-family: 'Montserrat', sans-serif; font-size: .8em; font-weight: 700; margin: 15px 0; max-width: 350px; padding: 12px 15px; text-align: center; text-transform: uppercase; -moz-appearance: none; -webkit-appearance: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-transition: background-color 0.5s ease; -o-transition: background-color 0.5s ease; -webkit-transition: background-color 0.5s ease; transition: background-color 0.5s ease; }
/* line 88, sass/style.scss */
.button:hover { background-color: #49c0b6; color: #fff; }

/* == Typography ================================================== */
/* line 95, sass/style.scss */
h1 { color: #49c0b6; font-family: 'Montserrat', sans-serif; font-size: 2.5em; line-height: 60px; margin: 0; }
@media only screen and (max-width: 600px) { /* line 95, sass/style.scss */
  h1 { font-size: 2.125em; line-height: 48px; } }

/* line 108, sass/style.scss */
p { color: #414142; font-family: 'Droid Serif', serif; font-size: 1em; font-weight: 400; line-height: 30px; }
@media only screen and (max-width: 600px) { /* line 108, sass/style.scss */
  p { font-size: .85em; line-height: 26px; } }

/* == Header ================================================= */
/* line 122, sass/style.scss */
header { background-color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.1); font-family: 'Montserrat', sans-serif; top: 0; width: 100%; }
/* line 129, sass/style.scss */
header nav { float: right; margin-right: 15px; text-transform: uppercase; }
/* line 134, sass/style.scss */
header nav ol { margin: 0; padding: 0; position: relative; }
/* line 139, sass/style.scss */
header nav ol li { display: inline-block; list-style: none; position: relative; margin: 0; padding: 0; }
/* line 146, sass/style.scss */
header nav ol li:hover ul { display: block; }
/* line 150, sass/style.scss */
header nav ol li.mobileMenu { display: none; }
/* line 154, sass/style.scss */
header nav ol li a { display: block; padding: 35px 15px; font-size: ems(18px); color: #49c0b6; }
/* line 160, sass/style.scss */
header nav ol li a:hover { color: #88D1D1; }
/* line 165, sass/style.scss */
header nav ol li i.icon { display: none; }
/* line 171, sass/style.scss */
header nav ol ul.submenu { background-color: #fff; display: none; left: 0; padding: 10px 0; position: absolute; top: 100%; width: 225px; -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05); }
/* line 182, sass/style.scss */
header nav ol ul.submenu li { display: block; width: 100%; }
/* line 186, sass/style.scss */
header nav ol ul.submenu li a { color: #49c0b6; padding: 5px 20px; }
/* line 190, sass/style.scss */
header nav ol ul.submenu li a:hover { color: #88D1D1; }
/* line 196, sass/style.scss */
header nav ol ul.submenu li:before { content: ""; }
/* line 201, sass/style.scss */
header nav .dimmer { left: 100%; z-index: 0; width: 100%; height: 100%; position: fixed; top: 0; background-color: rgba(136, 209, 209, 0.6); }
/* line 210, sass/style.scss */
header nav .dimmer.active { display: block; left: 50%; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 218, sass/style.scss */
header nav .hamburger { display: none; z-index: 1; }
/* line 224, sass/style.scss */
header .contentHolder { padding: 0 25px; }
@media screen and (max-width: 1250px) { /* line 229, sass/style.scss */
  header .contentHolder nav ol li a { padding-left: 8px; padding-right: 8px; } }
@media screen and (max-width: 1175px) { /* line 238, sass/style.scss */
  header .contentHolder nav ol li a { font-size: ems(17px); } }
@media screen and (max-width: 1100px) { /* line 246, sass/style.scss */
  header .contentHolder nav ol li a { font-size: ems(16px); padding-left: 5px; padding-right: 5px; }
  /* line 254, sass/style.scss */
  header .contentHolder .social i.icon { width: 32px; height: 32px; } }
@media screen and (max-width: 1024px) { /* line 224, sass/style.scss */
  header .contentHolder { -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
  /* line 264, sass/style.scss */
  header .contentHolder nav { order: 2; width: 100%; margin-right: 0; padding-left: 25px; padding-right: 25px; }
  /* line 271, sass/style.scss */
  header .contentHolder nav ol { display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-flex; display: flex; -moz-justify-content: space-around; -ms-justify-content: space-around; -o-justify-content: space-around; -webkit-justify-content: space-around; justify-content: space-around; }
  /* line 276, sass/style.scss */
  header .contentHolder nav ol li a { font-size: ems(18px); padding: 12px; }
  /* line 283, sass/style.scss */
  header .contentHolder .logo { margin-top: 15px; padding-top: 0; } }
@media screen and (max-width: 850px) { /* line 290, sass/style.scss */
  header .contentHolder nav { padding-left: 12px; padding-right: 12px; } }
@media screen and (max-width: 800px) { /* line 297, sass/style.scss */
  header .contentHolder nav { padding-left: 0px; padding-right: 0px; } }
@media screen and (max-width: 767px) { /* line 306, sass/style.scss */
  header .contentHolder nav ol li a { font-size: ems(17px); padding-left: 10px; padding-right: 10px; }
  /* line 313, sass/style.scss */
  header .contentHolder nav ol ul.submenu li a { font-size: .8em; }
  /* line 317, sass/style.scss */
  header .contentHolder nav ol ul.submenu.sub-about { width: 218px; } }
@media screen and (max-width: 600px) { /* line 224, sass/style.scss */
  header .contentHolder { padding: 0; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
  /* line 330, sass/style.scss */
  header .contentHolder nav { background-color: #49c0b6; display: block; height: 45px; left: 0; margin: 0; order: 1; position: fixed; top: 0px; width: 100%; -moz-transition: top 0.5s ease; -o-transition: top 0.5s ease; -webkit-transition: top 0.5s ease; transition: top 0.5s ease; }
  /* line 343, sass/style.scss */
  header .contentHolder nav ol { background-color: #49c0b6; bottom: 0; display: block; left: 0; margin-left: -1000px; position: fixed; top: 0; width: 75vw; z-index: 20; -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }
  /* line 356, sass/style.scss */
  header .contentHolder nav ol.active { margin-left: 0; overflow-y: scroll; -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }
  /* line 363, sass/style.scss */
  header .contentHolder nav ol li { display: block; border-bottom: 1px solid #FFF; }
  /* line 368, sass/style.scss */
  header .contentHolder nav ol li.active i.icon { transform: rotate(180deg); }
  /* line 372, sass/style.scss */
  header .contentHolder nav ol li.active ul.submenu { max-height: 1000px; margin-top: 0; }
  /* line 376, sass/style.scss */
  header .contentHolder nav ol li.active ul.submenu li { border-bottom: none; }
  /* line 379, sass/style.scss */
  header .contentHolder nav ol li.active ul.submenu li a { width: 100%; padding: 5px 15px; }
  /* line 387, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu { display: block; }
  /* line 390, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu.mobileSocial { border-bottom: none; }
  /* line 394, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu ul.social { display: block; margin: 0; padding-left: 15px; }
  /* line 399, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu ul.social li { border-bottom: none; display: inline-block; }
  /* line 403, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu ul.social li:before { content: ""; }
  /* line 407, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu ul.social li a { width: inherit; padding: 5px 5px 0 0; }
  /* line 412, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu ul.social li i.icon { width: 35px; height: 35px; margin: 10px 0; }
  /* line 417, sass/style.scss */
  header .contentHolder nav ol li.mobileMenu ul.social li i.icon svg path { fill: #FFF; }
  /* line 425, sass/style.scss */
  header .contentHolder nav ol li a { display: inline-block; font-size: ems(20px); padding: 10px 15px; width: 85%; color: #fff; }
  /* line 432, sass/style.scss */
  header .contentHolder nav ol li a:hover { color: #3865AF; }
  /* line 437, sass/style.scss */
  header .contentHolder nav ol li i.icon { cursor: pointer; display: inline-block; width: 18px; height: 18px; float: right; margin: 10px 15px 10px 0; }
  /* line 445, sass/style.scss */
  header .contentHolder nav ol li i.icon svg path { fill: #fff; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
  /* line 454, sass/style.scss */
  header .contentHolder nav ol ul.submenu { background-color: #FFF; display: block; margin-top: -1px; max-height: 0; overflow: hidden; padding: 0; position: relative; width: 100%; }
  /* line 464, sass/style.scss */
  header .contentHolder nav ol ul.submenu li a { color: #414142; font-size: 1em; }
  /* line 468, sass/style.scss */
  header .contentHolder nav ol ul.submenu li a:hover { color: #88D1D1; }
  /* line 473, sass/style.scss */
  header .contentHolder nav ol ul.submenu.sub-about { width: 100%; }
  /* line 478, sass/style.scss */
  header .contentHolder nav .hamburger { display: inline-block; position: absolute; top: 6px; right: 0; height: 100%; padding: 12px 25px; color: #fff; cursor: pointer; }
  /* line 488, sass/style.scss */
  header .contentHolder nav .hamburger span { left: 0; }
  /* line 492, sass/style.scss */
  header .contentHolder nav .hamburger span, header .contentHolder nav .hamburger span:before, header .contentHolder nav .hamburger span:after { cursor: pointer; border-radius: 1px; height: 5px; width: 30px; background: #fff; position: absolute; display: block; content: ''; transition: background 500ms ease-in-out; }
  /* line 504, sass/style.scss */
  header .contentHolder nav .hamburger span:before { top: -10px; transition: all 500ms ease-in-out; }
  /* line 509, sass/style.scss */
  header .contentHolder nav .hamburger span:after { bottom: -10px; transition: all 500ms ease-in-out; }
  /* line 515, sass/style.scss */
  header .contentHolder nav .hamburger.active span { background-color: transparent; }
  /* line 519, sass/style.scss */
  header .contentHolder nav .hamburger.active span:before, header .contentHolder nav .hamburger.active.active span:after { top: 0; }
  /* line 523, sass/style.scss */
  header .contentHolder nav .hamburger.active span:before { transition: all 500ms ease-in-out; transform: rotate(-45deg); }
  /* line 528, sass/style.scss */
  header .contentHolder nav .hamburger.active span:after { transition: all 500ms ease-in-out; transform: rotate(45deg); }
  /* line 536, sass/style.scss */
  header .contentHolder .logo { order: 2; margin-right: 0; margin-top: 55px; padding-top: 0; }
  /* line 542, sass/style.scss */
  header .contentHolder .logo img { margin: 0 auto; max-width: 150px; padding: 15px; }
  /* line 549, sass/style.scss */
  header .contentHolder .social { display: none; } }
/* line 555, sass/style.scss */
header .logo { float: left; margin-right: auto; max-width: 150px; padding-top: 5px; }
@media screen and (max-width: 600px) { /* line 122, sass/style.scss */
  header { border-top: 0; position: relative; } }

/* line 568, sass/style.scss */
.social { line-height: 0; margin: 0; padding: 0; }
/* line 574, sass/style.scss */
.social i.icon svg { height: 32px; width: 32px; }
/* line 578, sass/style.scss */
.social i.icon svg path { fill: #49c0b6; }
/* line 584, sass/style.scss */
.social i.icon:hover svg path { fill: #88D1D1; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 592, sass/style.scss */
.social li { list-style: none; display: inline-block; }
/* line 596, sass/style.scss */
.social li:before { content: ''; }
